.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.about__box {
  max-width: 500px;
  margin-left: 680px;
  position: relative;
}

.about__box::before {
  content: "";
  background-image: url(../img/about/about-us.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: 600px;
  height: 596px;
  position: absolute;
  left: -680px;
}

.about__text {
  white-space: pre-line;
  margin-bottom: 33px;
}

.about__text_margin {
  margin-bottom: 0px;
  
}

.about__quote {
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  white-space: pre-line;
  display: inline-block;
  position: relative;
  margin-left: 31px;
  margin-bottom: 41px;
}

.about__quote::before {
  content: "“";
  position: absolute;
  width: 22px;
  height: 18px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: #6C0287;
  left: -31px;
  top: 42px;
}

.about__quote::after {
  content: "”";
  position: absolute;
  width: 22px;
  height: 18px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: #6C0287;
  right: 110px;
  bottom: 35px;
}

.about__figcaption {
  text-align: right;
}

.about__autor {
  display: inline-block;
  position: relative;
  width: 270px;
  margin-left: 110px;
  text-align: left;
}

.about__autor::before {
  content: "";
  background-image: url(../img/about/arcadiy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: -110px;
}