.reviews__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.reviews__list {
 display: flex;
 flex-direction: column;
 justify-content:space-between;
 gap: 50px;
 align-items: center;
}

.reviews__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.reviews__autor {
  text-align: center;
 

}


.reviews__avatar {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.reviews__box {
  max-width: 680px;
  padding-top: 50px;
}

